section.content h1 {
  font-size: 14pt;
}

li.pages span {
  color: gray;
  font-size: 8pt;
}

section.list {
  font-size: 10pt;
}

section.list h1 {
}

.flex-container {
  display: flex;
}

section.content {
  flex-grow: 1;
}

section.list {
  min-width: 300px;
}
